version: '3.8'

services:
  # 1. The Postgres Database
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Lalit84252
      POSTGRES_DB: chat_db
    ports:
      - "5432:5432"

  # 2. Redis (The Messenger for Celery)
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  # 3. Qdrant (The Vector Brain)
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"

  # 4. Your FastAPI Backend
  backend:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - qdrant

  # 5. The Celery Worker (Uses the same build as backend)
  worker:
    build: .
    command: celery -A app.tasks.worker.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - qdrant